@mixin button-hover() {
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.project-btn {
  @include button-hover();
}

.contact-btn {
  @include button-hover();
}

.nav-bar a {
  &:hover {
    @include button-hover();
    color: green;
  }
}

// <-----------ANIMATION ONE(HOMEPAGE)------------->

.hompage-text-animation {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// <-----------ANIMATION ONE(HOMEPAGE)------------->
// <-----------ANIMATION TWO(HOMEPAGE)------------->

.homepage-picture-animation {
  animation: slide ease-in-out 2s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
// <-----------ANIMATION TWO(HOMEPAGE)------------->
// <-----------ANIMATION ONE(ABOUTME)------------->

.aboutme-paragraph {
  animation: fadeInFromTop 2s ease-in-out forwards;
  position: relative;
  z-index: -1;
}

@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// <-----------ANIMATION ONE(ABOUTME)------------->
// <-----------ANIMATION TWO(ABOUTME)------------->

.aboutme-img {
  animation: fadeInImg 3s ease-in-out forwards;
}

@keyframes fadeInImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
