@use "./variables" as v;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: v.$background-color;
  min-height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: white;
}
.border {
  border: 2px solid green;
}

.hidden {
  display: none;
}

.nav-bar ul li {
  list-style-type: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
