// <-----------HOMEPAGE STARTS------------->

.nav-bar {
  display: flex;
  gap: 50px;
  list-style-type: none;
  justify-content: end;
  padding: 20px 100px 20px;
  @media (max-width: 630px) {
    display: none;
  }
}

hr {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #707070;
}

.modal-navbar {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  right: 0;
  border-radius: 10px;
  margin: 10px;
  background-color: #707070;
  .modal-wrapper {
    padding: 10% 15% 10% 0;
    opacity: 1 !important;
    li {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 630px) {
    display: none;
  }
  @media (max-width: 630px) {
    width: 30%;
  }
}

.homepage-body-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 630px) {
    grid-template-columns: 1fr;
  }
}

// <-----------HOMEPAGE ENDS------------->
// <-----------PROJECTS START------------->

.project-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
  }
}

.project-boxicons {
  display: flex;
  margin: 0px 0px 0px 70px;
  gap: 5px;
  img {
    z-index: -1;
  }
  @media (max-width: 600px) {
    margin: 0;
    justify-content: center;
  }
}

// <-----------PROJECTS START------------->
// <-----------ABOUT START------------->
.aboutme-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 630px) {
    grid-template-columns: 1fr;
  }
}
